
cdr-mapper/.idea/.name

cdr-mapper/.idea/cdr-mapper.iml

cdr-mapper/.idea/encodings.xml

cdr-mapper/.idea/misc.xml

cdr-mapper/.idea/modules.xml

cdr-mapper/.idea/scopes/scope_settings.xml

cdr-mapper/.idea/vcs.xml

cdr-mapper/.idea/workspace.xml

cdr-mapper/models.pyc

*.pyc
