{% extends "master.html" %}

{% block breadcrumbs %}
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <strong>
            Main
            &nbsp;&nbsp;>&nbsp;&nbsp;
            Case Information
            &nbsp;&nbsp;>&nbsp;&nbsp;
            Tower Data
            &nbsp;&nbsp;>&nbsp;&nbsp;
            CDR Data
        </strong>
    </p>
{% endblock %}

{% block page_title %}Import CDR Data{% endblock %}

{% block body %}
    <div id="loading" style="display: none;">
        <p>
            Please wait while CDR data is imported. This may take several minutes depending on how many records you are
            importing. Do not click import again, refresh this page, or navigate away from it or your progress will be
            lost.
        </p>
        <p><div align="center">
            <img src="{{ url_for('static', filename='progress_loader.gif') }}" width="250" height="250" border="0" />
        </div></p>
        &nbsp;<br />&nbsp;<br />
    </div>
    <p>
        Select which column from the CDR data corresponds with each recognized data type. Required fields have an
        asterisk (<strong>*</strong>) next to them.
    </p>
    <form method="POST" action="{{ url_for('import_cdrs', case_id=cid, filename=fn) }}" class="dark-matter" data-ajax="false" enctype="multipart/form-data">
        <h3>Import CDR Data</h3>
            <span>
                Please select which column from the CDR data corresponds with each recognized data type.
            </span>

        <label>
            <span>Case Number :</span>
            <input id="casenum" type="text" name="casenum" value="{{ casenum }}" disabled />
        </label>

        <label>
            <span>Calling Number :</span>
            <select name="callingnumber" id="callingnumber">
                <option value="-1">---Select Column---</option>
                {% for option in header_list %}
                    {{ option|safe }}
                {% endfor %}
            </select>
        </label>

        <label>
            <span>Called Number<strong>*</strong> :</span>
            <select name="callednumber" id="callednumber">
                <option value="-1">---Select Column---</option>
                {% for option in header_list %}
                    {{ option|safe }}
                {% endfor %}
            </select>
        </label>

        <label>
            <span>Dialed Digits :</span>
            <select name="dialed" id="dialed">
                <option value="-1">---Select Column---</option>
                {% for option in header_list %}
                    {{ option|safe }}
                {% endfor %}
            </select>
        </label>

        <label>
            <span>Call Direction :</span>
            <select name="direction" id="direction">
                <option value="-1">---Select Column---</option>
                {% for option in header_list %}
                    {{ option|safe }}
                {% endfor %}
            </select>
        </label>

        <label>
            <span>Start Date :</span>
            <select name="start" id="start">
                <option value="-1">---Select Column---</option>
                {% for option in header_list %}
                    {{ option|safe }}
                {% endfor %}
            </select>
        </label>

        <label>
            <span>End Date :</span>
            <select name="end" id="end">
                <option value="-1">---Select Column---</option>
                {% for option in header_list %}
                    {{ option|safe }}
                {% endfor %}
            </select>
        </label>

        <label>
            <span>Duration :</span>
            <select name="duration" id="duration">
                <option value="-1">---Select Column---</option>
                {% for option in header_list %}
                    {{ option|safe }}
                {% endfor %}
            </select>
        </label>

        <label>
            <span>Cell Site / Tower ID<strong>*</strong> :</span>
            <select name="cellsite" id="cellsite">
                <option value="-1">---Select Column---</option>
                {% for option in header_list %}
                    {{ option|safe }}
                {% endfor %}
            </select>
        </label>

        <label>
            <span>Sector<strong>*</strong> :</span>
            <select name="sector" id="sector">
                <option value="-1">---Select Column---</option>
                {% for option in header_list %}
                    {{ option|safe }}
                {% endfor %}
            </select>
        </label>

        <label>
            <span>&nbsp;</span>
            <input type="submit" class="button" value="Import" />
            <div style="font-weight: bold; color: yellow;">{{ message }}</div>
        </label>
    </form>
{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="application/javascript">
        $('form').on('submit', function() {
            $('#loading').show();
            e.preventDefault();
            this.submit();
        })
    </script>
{% endblock %}