{% extends "master.html" %}

{% block breadcrumbs %}
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <strong>
            Main
            &nbsp;&nbsp;>&nbsp;&nbsp;
            Case Information
            &nbsp;&nbsp;>&nbsp;&nbsp;
            Tower Data
        </strong>
    </p>
{% endblock %}

{% block page_title %}Upload Tower Data{% endblock %}

{% block body %}
    <p>
        Upload the CSV file containing the cell sites / tower data <em>with headers as the first row</em>.
    </p>
    <form method="POST" action="{{ url_for('upload_towers', case_id=cid) }}" class="dark-matter" enctype="multipart/form-data">
        <h3>Upload Cell Sites / Tower Data</h3>
            <span>
                Please select the CSV file containing the cell sites / tower data.
            </span>

        <label>
            <span>Cell Sites / Tower Data File :</span>
            <input type="file" id="towers" name="towers" accept="text/csv">
        </label>

        <label>
            <span>&nbsp;</span>
            <input type="submit" class="button" value="Upload" />
            <div style="font-weight: bold; color: yellow;">{{ message }}</div>
        </label>
    </form>
{% endblock %}