{% extends "master.html" %}

{% block breadcrumbs %}
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <strong>
            Main
            &nbsp;&nbsp;>&nbsp;&nbsp;
            Case Information
        </strong>
    </p>
{% endblock %}

{% block page_title %}Case Information{% endblock %}

{% block body %}
    <p>
        Enter the basic case information.
    </p>
    <form method="POST" action="{{ url_for('case_form') }}" class="dark-matter">
        <h3>Basic Case Information</h3>
            <span>
                Please complete all of the fields.
            </span>

        <label>
            <span>Case Number :</span>
            <input id="casenum" type="text" name="casenum" placeholder="Case Number" />
        </label>

        <label>
            <span>Agency :</span>
            <input id="agency" type="text" name="agency" placeholder="Requesting Agency" />
        </label>

        <label>
            <span>Agent / POC :</span>
            <input id="agent" type="text" name="agent" placeholder="Requesting Agent or POC"></textarea>
        </label>

        <label>
            <span>Analyst :</span>
            <input id="analyst" type="text" name="analyst" placeholder="Analyst" />
        </label>

        <label>
            <span>Target Number :</span>
            <input id="targetnum" type="text" name="targetnum" placeholder="Target Number" />
        </label>

        <label>
            <span>&nbsp;</span>
            <input type="submit" class="button" value="Submit" />
            <div style="font-weight: bold; color: yellow;">{{ message }}</div>
        </label>
    </form>
{% endblock %}